<div>
  <div class="block">
    <img src="./assets/iPhones.PNG" alt="" />
  </div>
  <div class="block">
    <ul style="list-style-type:square">
        <li>Cashless Protection against Accidental Damages*.</li>
        <li>We cover iPhone on Theft or Stolen anywhere in India*.</li>
        <li>zero-hassle claims and Best Customer Support.</li>
        <li>A complete Global online platform.Coverage in India, USA, Australia, Europe &amp; U.K.</li>
        <li>50% and 25% refund of premium amount in case of NO CLAIM in 3 Yr &amp; 2 Yr. Plan.</li>
      </ul> 
    <button class="button-margin" (click)="submit()">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
    <button class="button-margin">iPhone X,8,8 Plus<br/>₹7610/-</button>
  </div>
  <div>
    <p>Dynamos Digital Insuarance offers iPhone Protection Plan for every iPhone Variant. With mobile insurance you can be rest assured that your mobile phone will always be under protection. Be it screen damage, motherboard damage or theft of iPhone, Times Global has got you covered. Offering affordable plans for both, new and used iPhones, Times Global has simplified mobile Protection Plan. We cover all phones from iPhone X, 8, 8 Plus, 7 etc, Samsung, Google and so on. With Times Global, when tragedy strikes, you will no longer be scared because you have mobile Protection Plan to deal with the problem for you. </p>
  </div>
  <div class="block">
      <img src="./assets/coffee-cup-retouched.PNG" alt="" />
  </div>
  <div class="block">
      <p>
          <b>WHAT DOES Dynamos Digital Insurance COVER?</b><br/>          
          The cost of iPhones are constantly on the rise. Thus, the cost of repairing iPhones is always rising too. Some companies do offer warranties and extended warranties but they are not to be confused with TIMES Global iPhone Protection Plan. Times Global Assurance continues to cover your mobile even after the warranty period has expired. With the help of protection plan, you no longer must worry if your phone has been stolen or it suddenly stops working due to accident. You can be rest assured that Times Global will be on the job. We cover wide range of handsets like Google Pixel, Samsung Galaxy Grand/ Note/ S7-S8, One Plus 2-3T-5t, Micromax Mobile, Intex, Gionee, Xiaomi, Motorola, Asus, Lenovo, Sony Xperia, Nokia and other Android handsets.
      </p>
  </div>
  <div>
      <img src="./assets/mobile-damage.PNG" alt="" />
  </div>
  <div>
    <p>
        <b>Dynamos Digital Insurance ZERO-HASSLE CLAIMS.</b><br/>        
        What should you do once your phone has been stolen or damaged? Claiming an insurance can be quite a tedious task and involves a lot of time and patience. However, with Times Global, claiming insurance is a piece of cake. Follow these simple steps and you can see for yourself how simple it is.
    </p>
  </div>
  <div>
  <div class="block" width="50px">
      <img src="./assets/Help.PNG" alt="" />
      <p>
          Once you notice any damage or theft of your phone, file a complaint with the Times Global online help desk or over the phone. The helpline operates from 9AM-10PM while the online help desk is available 24 hours a day. Our insurance agents will guide you through the entire process and are always happy to help you.
      </p>
  </div>
  <div class="block">
      <img src="./assets/Replacement.PNG" alt="" />
      <p>
          If applicable, Dynamos Digital will send over a replacement for your phone immediately. Alternatively, we can also offer to pay for the device sent to us through courier. We will repair the phone and send it back to you within a few days. 
      </p>
  </div>
  <div class="block">
      <img src="./assets/Repair.PNG" alt="" />
      <p>
          In case of emergencies, you can also take your device to a local authorized dealer, pay for the repairs and send us your receipt. We will reimburse you for any charges incurred. Times Global also covers phones when travelling.
      </p>
  </div>
</div>
<div>
    <img src="./assets/iphone-insurance-reason.PNG" alt="" />
</div>
</div>