/* You can add global styles to this file, and also import other style files */
.block {
    height: 500px;
    width: 500px;
    display:inline-block;
    margin: 10px;
  }

  .button-margin{
      margin: 5px;
  }

  footer {
    background-color: dodgerblue;
    height: 30px;
}

main {
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    border: 1px thin groove;
    align-content: center
}

.footer-para{
    text-align: center;
    text-decoration-color: antiquewhite;
}
